.Home {
  height: calc(100vh - 6rem);
  width: calc(100vw - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161623;
  background-image: url(../../Assets/glimmer_bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid #161623 3rem;
}
